
h2 {
text-transform: uppercase;
text-emphasis: black;
}


h3 {
text-emphasis: black;
}

.Laguages_offer {
background-color: green; }

.Tools {border-width: 1px;
	border-style: solid;
	border-color: skyblue;
	width: 90%; }

img	
    {text-align: left;
h4 + img 
    height: 150px;
    width: 150px;
    border-radius: 150px; }

.Extra_Additional {list-style-type: none ;
	letter-spacing: 15px;
	font-family:;
}

h5 {text-align: center; font-size: 20px; 


